<div ng-controller="topicController">

<div ng-include="'/tpls/indexHeader.html'"></div>
<div  style="margin-top: 50px" >
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">

            <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>

                <p>{{slide.text}}</p>
            </div>
        </uib-slide>
    </uib-carousel>
</div>
<div class="container content">
    <div  class="topic" style="width: 76%;float: left">
        <div>
            <article class="article ns-article" ng-repeat="topic in topics" >

                <h3 class="uk-article-title ns-fonts"><a ui-sref="topicDetail({topicId:topic._id})">{{topic.title}}</a><span class="glyphicon glyphicon-fire"></span></h3>
                <label>
                    <span class=""><i class="uk-icon-clock-o"></i> 2016-01-22</span>
                    <span style="padding-left:25px;"><i class="glyphicon glyphicon-eye-open"></i> 59</span>
                    <span style="padding-left:25px;"><i class="uk-icon-folder-open"></i> <a href="http://yijiebuyi.com/category/开发工具.html" >开发工具</a></span>
                </label>
                <a   style="float:right;">查看更多</a>


            </article>
        </div>

    </div>

    <div style="width: 22%;float: right;height: 250px;background-color: white;margin-top: 10px" >

    </div>
    <div style="width: 22%;float: right;height: 250px;background-color: white;margin-top: 10px" >
        <span></span>
        <span>nininnihh</span>
        <span>nininnihh</span>
        <span>nininnihh</span>
        <span>nininnihh</span>
        <span>nininnihh</span>
        <span>nininnihh</span>
        <span>nininnihh</span>
        <span>nininnihh</span>
    </div>
    <div style="clear: both"></div>



</div>

</div>